.col-service {
  background-color: #87403e;
}
.col-cars {
  background-color: #33414c;
}

.img-carrousel {
  display: flex;
  align-items: center;
}

.img-carrousel img {
  max-height: 650px;
  min-height: 300px;
  margin: 0 auto;
  object-fit: cover;
}

@media (max-width: 625px) {
  .row-query {
    flex-direction: column;
  }

  .col-service {
    width: 100% !important;
    padding: 1rem !important;
  }

  .col-cars {
    width: 100% !important;
    padding: 1rem !important;
  }
}
