.services-box {
  height: 450px;
  background-color: #87403e;
}
.data-box {
  height: 450px;
  background-color: #33414c;
}
.to-services-btn {
  width: 10rem;
}
.img-carrousel {
  display: flex;
  align-items: center;
  height: 650px;
}
.img-carrousel img {
  max-height: 100%;
  margin: 0 auto;
  object-fit: cover;
}
