/* Logos home  */

html {
  overflow-x: hidden !important;
}

.slide-img img {
  cursor: pointer;
  filter: grayscale(1);
  transition: 0.4s linear transform 0.1s;
  padding: 2rem;
}

.slide-img img:hover {
  filter: grayscale(0);
  transform: scale(1.2);
}

@media (min-width: 227px) and (max-width: 400px) {
  .slide-right {
    flex-direction: column;
  }

  .slide-img {
    width: 75%;
    margin: auto;
  }
}

@media (min-width: 401px) and (max-width: 575px) {
  .slide-right {
    flex-direction: column;
  }

  .slide-img {
    width: 62%;
    margin: auto;
  }
}

/* Brand vehicle  */

.vehicles-card {
  transition: transform ease-out 0.4s, filter ease-out 0.4s !important;
  filter: brightness(85%) !important;
}

.vehicles-card:hover {
  filter: brightness(100%) !important;
  transform: scale(1.1);
}

.card-image {
  height: 200px !important;
  width: 100% !important;
  object-fit: cover;
}

.discovery-btn {
  border: 1px solid #33414c;
  color: #33414c !important;
  transition: 0.5s ease-in-out;
  float: right;
}

.discovery-btn:hover {
  background-color: #33414c;
  color: #ffff !important;
  transition: 0.5s ease-in-out;
}
