/* Vehicle*/
.hero-front-image {
  height: 570px !important;
  width: 100% !important;
  object-fit: cover !important;
}

.hero-front-image-interior {
  height: 505px !important;
  width: 100% !important;
  object-fit: cover !important;
}

.information-box {
  background-color: #33414c;
}

.information-box {
  background-color: #33414c;
  -webkit-transition: background-color 1s linear;
  transition: background-color 0.8s linear;
}
.information-box:hover {
  background-color: #87403e;
}

/* Shine */

figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

.car-shine figure {
  position: relative;
}

.car-shine figure::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.car-shine figure:hover::before {
  -webkit-animation: shine 5s;
  animation: shine 2s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.car-shine figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}
.car-shine figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.brighten img {
  filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.brighten img:hover {
  filter: brightness(100%);
}

/* Buttons  */

.btn-see-live {
  border: 0;
  background-image: linear-gradient(150deg, #b7cedc, #33414c, #b7cedc);
  border-radius: 8px;
  color: #4c4c6d;
  display: flex;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-see-live span {
  background-color: #e8f6ef;
  padding: 5px 8px;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-see-live:hover span {
  background: none;
  color: #e8f6ef;
}

.btn-see-live:active {
  scale: 0.9;
}
