.footer {
  margin-top: 5.5rem;
  background-color: var(--brand-gray-blue-dark);
}

.footer input {
  font-weight: 300;
}

.footer button {
  font-weight: 300;
  color: var(--brand-red-brown);
}

.footer-container {
  width: 90%;
  padding: 3rem 0rem 3rem 0rem;
}

.footer-list {
  font-size: 0.9rem;
  color: var(--brand-light-gray);
}

.footer-list li {
  margin-bottom: 0.5rem;

  font-weight: 300;
}

.footer-cta {
  background-color: var(--brand-red-brown) !important;
}

.footer-cta:hover {
  background-color: var(--brand-green) !important;
}

.footer-text {
  color: var(--brand-light-gray);
}

.img-footer {
  width: 6rem;
}

.contact-us-name:hover {
  color: whitesmoke !important;
}

.icon-footer {
  color: var(--brand-light-gray) !important;
}
